<!DOCTYPE html>
    <html>
        <head>
            <title>
                Blog App
            </title>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
            <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
        </head>
        <body style=" background:url(https://i.pinimg.com/564x/66/1b/4c/661b4c9d4148f26a520df905badd8eda.jpg); no-repeat 0px 0px; background-size:100% 100%;  background-repeat:none">
            <div class="ui inverted segment" style="margin: 0px">
              <div class="ui inverted secondary pointing menu">
                <div class="header item"><i class="fa fa-heart"></i>
                <b style="font-family: fantasy; font-size: 1.5em">Bloggingzs </b></div>
                <a href="/" class="item" style="padding-top:10px">
                <i class="home icon" ></i>
                  Home
                </a>
                <a href="/blogs/new" class="item">
                <i class="add circle icon"></i>
                  New Post
                </a>
                <div class="right menu">
                  <% if(!currentUser){ %>
                    <a class="ui item" href="/login">LogIn</a>
                    <a class="ui item" href="/register">SignUp</a>
                  <% } else{ %>
                    <a class="ui item" href="#">Hey, <%= currentUser.username %>!</a>
                    <a class="ui item" href="/logout">LogOut</a>
                  <% } %>
                </div>
              </div>

            </div>

            <% if(error && error.length > 0){%>
            <div class="ui red message"><%= error %></div>
            <% } %>
            <% if(success && success.length > 0){%>
            <div class="ui floating message"><%= success %></div>
            <% } %>
            <div id="love-u" >
