<% include ./partials/header %>

<div class="ui main text container segment" style="background-color:#C0C0C0">
    <h2 class="ui center aligned icon header" style="font-family:georgia">
      <i class="circular users icon"></i>
      New Post
    </h2>
    <form action="/blogs" method="POST" class="ui form">
        <div class="field">
            <label style="font-family:garamond; font-size:1em">Title</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>
        <div class="field">
            <label style="font-family:garamond; font-size:1em">Image</label>
            <input type="text" name="blog[image]" placeholder="image url">
        </div>
        <div class="field">
            <label style="font-family:garamond; font-size:1em">Blog Content</label>
            <textarea name="blog[body]">

            </textarea>
        </div>
      <button class="ui inverted big violet button">Submit</button>
    </form>
</div>

<% include ./partials/footer %>
